<?xml version="1.0"?>
<!--
/**
 * Copyright © Dxvn, Inc. All rights reserved.
 * @author  Tran Ngoc Duc <caothu91@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <smtp>
                <active>false</active>
                <smtpname>127.0.0.1</smtpname>
                <smtptype>ssl</smtptype>
                <smtphost>smtp.gmail.com</smtphost>
                <smtpport>465</smtpport>
                <authtype>LOGIN</authtype>
                <username/>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <override>true</override>
            </smtp>
        </system>
    </default>
</config>
